html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  background-color: #f5f5f5;
}

@media (min-width: 480px) {
  .form-signin {
    max-width: 24.16vw;
  }
}

.form-signin {
  width: 100%;
  padding: 1.10vw;
  margin: auto;
  margin-top: 3vw;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 5px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 480px) {
  form img {
    width: 20vw;
    height: 20vw;
    margin-top: 2vh;
  }
}

form img {
    box-sizing: border-box;
    border-radius: 50px;
    border: .15vw solid black;
    padding: .37vw;
    width: 6vw;
    height: 6vw;
}