<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img id="arcade-logo" src="assets/images/arcade.png">
      </a>

      <ul *ngIf="loggedUser; else navbarTitle;" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a (click)="navigate('home')" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a (click)="navigate('profile')" class="nav-link px-2 link-dark">Mi Perfil</a></li>
        <li><a (click)="navigate('chat-room')" class="nav-link px-2 link-dark">Chat</a></li>
        <li><a (click)="logout();" class="nav-link px-2 link-dark">Logout</a></li>
      </ul>
      
      <ng-template #navbarTitle>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <h1 class="zcool">La Sala</h1>
        </ul>
      </ng-template>

      <div 
        class="col-md-3 text-end"
        *ngIf="!loggedUser"
      >
        <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/login-form']">Login</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/signin-form']">Sign-up</button>
      </div>
    </header>
</div>