<div class="container">
    <form [formGroup]="profileForm" (ngSubmit)="profileFormSubmition()">

        <label class="form-label" for="profile-image">Imagen de Perfil</label>
        <input 
            type="text"
            class="form-control mb-3"
            alt="profile-image"
            id="profile-image"
            formControlName="photoURL"
        >

        <label class="form-label" for="profile-email">Email</label>
        <input 
            type="text" 
            class="form-control mb-3"
            alt="profile-email"
            id="profile-email"
            formControlName="email"
        >

        <label class="form-label" for="profile-display-name">Nombre</label>
        <input
            #displayName
            type="text" 
            class="form-control" 
            alt="profile-display-name" 
            id="profile-display-name"
            formControlName="displayName"
            (focus)="onFocus(displayName)"
        >

        <button id="submit-btn" type="submit" class="btn btn-primary">Actualizar</button>

    </form>

    <div id="keyboard-container">
        <onscreen-keyboard (onKeyPressed)="processIncomingKey($event)"></onscreen-keyboard>
    </div>

</div>