#preguntados-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5EFF1;
    border-radius: 5px;
    padding: 1rem;
}

h3 {
    box-shadow: gray 0px 1px;
}

#play-btn {
    width: 40vw;
    padding: 1rem .5rem;
}

#loading-gif {
    max-width: 25vw;
}

p {
    font-size:1.3rem;
}

#question-pannel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#question-pannel > img {
    border-radius: 100%;
}

#question-pannel > h1 {
    padding: 1rem .5rem;
    border-bottom: 2px groove grey;
}

#posible-answers {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.answer {
    border: 1px grey solid;
    border-radius: 1rem;
    background-color: #5bc0de;
    margin: 2rem;
    padding: 1rem;
    font-size: large;
    box-shadow: grey .5rem .5rem;
    cursor: pointer;
}

.answer:active {
    transform: scale(.9);
}

.right {
    background-color: #5cb85c;
}

.wrong {
    background-color: #d9534f;
}

#messageForUser {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#messageForUser > button{
    width: 15vw;
}